@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: sans-serif;
  --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
